{% extends "weblog/base.html" %}
{% block content %}
<div class="bg-slack">
  <div class="content">
    <div class="post-title">
      <div>[{{ object.category }}]</div>
      <h1>{{ object.title }}</h1>
    </div>    
  </div>
</div>

<div class="post-content">
  {{ object.content_html|safe }}
</div>
{% endblock content %}
