{% extends "weblog/base.html" %}
{% block content %}
<div class="bg-slack">
  <div class="content">
    <div class="weblog-header">
      <h1>Weblog Archives for {{ month|date:"F Y" }}</h1>
    </div>    
  </div>
</div>

<div class="latest-news content">
  <div class="post-item">
    <h2><i class="fas fa-archive"></i> Entries</h2>
    <ul>
      {% for entry in object_list %}
      <li class="list-group-item">
        <span class="list-item-date">{{ entry.pub_date|date:'Y-m-d' }}</span>
        <a class="list-item-link" href="{{ entry.get_absolute_url }}">
          {{ entry.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="weblog-content">
  {% for post in object_list %}
    <article>
      <h2 class="weblog-post-title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h2>
      <div class="weblog-post-meta">
        <i class="far fa-folder-open"></i> {{ post.category }}
        <i class="far fa-calendar"></i> {{ post.pub_date|date }}
      </div>
      <div class="weblog-post-content">
        {{ post.content_html|safe|truncatewords_html:"100" }}
        <i class="fas fa-chevron-right"></i>
        <a href="{{ post.get_absolute_url }}">Read more</a>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock content %}