<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Slackware Linux Project</title>
  <meta name="description" content="The Slackware Linux Project. The Slackware Linux distribution is a complete multitasking UNIX-like operating system. Slackware is an open source independent Linux-based operating system with the main goals of being stable and easy-to-use by novice and experienced users alike. It is one of the oldest GNU/Linux distributions on the world.">
  <meta name="keywords" content="slackware, slackware linux, linux">
  {# <link rel="stylesheet" href="{% static 'css/bootstrap-5.1.1.min.css' %}"> #}
  <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.15.4.min.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.ico' %}"/>
  <link type="text/plain" rel="author" href="{% url 'core:humans' %}">
</head>
<body>
{% include "core/navbar.html" %}

  {% block content %}
  <div class="jumbotron">
    <div class="content">
      <div class="jumbotron-block">
        <div class="jumbotron-item">
          <h1>The Slackware Linux Project</h1>
          <p>
            The Slackware Linux Project has aimed at producing the most "UNIX-like"
            Linux distribution out there. Slackware complies with the published
            Linux standards, such as the Linux File System Standard. We have always
            considered simplicity and stability paramount, and as a result Slackware
            has become one of the most popular, stable, and friendly distributions
            available.
          </p>
        </div>
        <div class="jumbotron-image">
          <img src="{% static 'img/Slackware-mascot.svg' %}" alt="Slackware mascot" class="h-52 lg:h-44 xl:h-40">
        </div>
      </div>
      <div class="jumbotron-button">
        <a class="btn btn-slack" href="/get-slack/">
          <i class="fas fa-download"></i> Get Slackware 15.0
        </a>
        <a class="btn btn-slack-outline" href="/about/">
          <i class="fas fa-angle-right"></i> About Slackware
        </a>
      </div>
    </div>
  </div>

  <div class="featured content">
    <div class="featured-item pr-1">
      <h2><i class="fas fa-clipboard-list"></i> Get Started</h2>
      <p>If you installed Slackware for the first time, you may be daunted by the sight of the blinking cursor at a console login.</p>
      <p><a href="{% url 'core:beginners-guide' %}">Read the Beginner&rsquo;s Guide</a></p>
    </div>
    <div class="featured-item pl-1 lg:pr-1">
      <h2><i class="fas fa-download"></i> Download</h2>
      <p>Get the latest stable version of Slackware Linux operating system through bitorrent or from one of our HTTP and FTP mirrors.</p>
      <p>Latest: <a href="/get-slack/">Slackware 15.0</a></p>
    </div>
    <div class="featured-item pr-1 lg:pl-1">
      <h2><i class="fas fa-book"></i> Docs</h2>
      <p>Documentation for Slackware Linux operating system, along with tutorials and guides, are available in our SlackDocs webpage.</p>
      <p><a href="{% url 'core:docs' %}">docs.slackware.com</a></p>
    </div>
    <div class="featured-item pl-1">
      <h2><i class="fas fa-box-open"></i> Packages</h2>
      <p>Slackware Linux Official package set provides a good, stable, and flexible operating system (and is quite adequate for many individuals).</p>
      <p><a href="{% url 'core:packages' %}">packages.slackware.com</a></p>
    </div>
  </div>

  <div class="latest-news content">
    <div class="post-item">
      <h2><i class="far fa-newspaper"></i> Latest News</h2>
      <ul>
        {% for entry in latest_entry_list %}
        <li class="list-group-item">
          <span class="list-item-date">{{ entry.pub_date|date:'Y-m-d' }}</span>
          <a class="list-item-link" href="{{ entry.get_absolute_url }}">
            {{ entry.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="post-item">
      <h2><i class="fas fa-shield-alt"></i> Security Advisories</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="list-item-date">2021-08-31</span>
          <a class="list-item-link" href="">ntfs-3g (SSA:2021-243-01)</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-07-21</span>
          <a class="list-item-link" href="">curl (SSA:2021-202-02)</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-07-20</span>
          <a class="list-item-link" href="">Slackware 14.2 kernel (SSA:2021-202-01)</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-06-07</span>
          <a class="list-item-link" href="">polkit (SSA:2021-158-02)</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-06-07</span>
          <a class="list-item-link" href="">httpd (SSA:2021-158-01)</a>
        </li>
      </ul>
    </div>
    <div class="post-item">
      <h2><i class="far fa-list-alt"></i> Changelog</h2>
      <ul>
        <li class="list-group-item">
          <span class="list-item-date">2021-08-31</span>
          <a class="list-item-link" href="">zntfs-3g-2021.8.22-i586-1_slack14.2.txz</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-07-21</span>
          <a class="list-item-link" href="">zcurl-7.78.0-i586-1_slack14.2.txz</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-07-21</span>
          <a class="list-item-link" href="">zlinux-4.4.276/*</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-06-07</span>
          <a class="list-item-link" href="">zhttpd-2.4.48-i586-1_slack14.2.txz</a>
        </li>
        <li class="list-group-item">
          <span class="list-item-date">2021-06-07</span>
          <a class="list-item-link" href="">zlibX11-1.7.2-i586-1_slack14.2.txz</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock content %}

{% include "core/get_slack.html" %}

{% include "core/footer.html" %}
  {# <script src="{% static 'js/bootstrap-5.1.1.min.js' %}"></script> #}
</body>
</html>