  <footer class="footer">
    <div class="content">
      <div class="footer-items">
        <div class="footer-item">
          <h5>Slackware Linux</h5>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/trademark/">Registered Trademark</a></li>
            <li><a href="/faq/">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h5>Getting Slack</h5>
          <ul>
            <li><a href="/get-slack/">Get Slack</a></li>
            <li><a href="{% url 'core:packages' %}">Packages</a></li>
            <li><a href="/ports/">Ports/Architectures</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h5>News</h5>
          <ul>
            <li><a href="/weblog/">Weblog</a></li>
            <li><a href="/changelog/">ChangeLogs</a></li>
            <li><a href="{% url 'core:planet' %}">Slackware Planet</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h5>Documentation</h5>
          <ul>
            <li><a href="{% url 'core:docs' %}">Slackware Docs</a></li>
            <li><a href="{% url 'core:slackbook' %}">SlackBook</a></li>
            <li><a href="{% url 'core:installation-guide' %}">Installation Guide</a></li>
            <li><a href="{% url 'core:beginners-guide' %}">Post-Install Guide</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h5>Support</h5>
          <ul>
            <li><a href="/lists/">Mailing Lists</a></li>
            <li><a href="/security/">Security Advisories</a></li>
            <li><a href="/links/">Other Sites</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copy">
        Slackware &reg; is a <a href="/trademark/">registered trademark</a> of Slackware Linux, Inc. All logos
        and graphics are copyrighted.
      </div>
    </div>
  </footer>