  <div class="get-slack">
    <div class="get-slack-content">
      <div class="get-slack-item">
        <h2>Slackware 15.0</h2>
        <p>Download the latest stable release of Slackware Linux.</p>
      </div>
      <div class="get-slack-btn">
        <a class="btn btn-slack" href="/get-slack/">
          <i class="fas fa-download"></i> Get Slackware 15.0
        </a>  
      </div>
    </div>
  </div>