{% load static %}
  <nav class="navbar">
    <div class="navbar-content">
      <a class="" href="/">
        <img src="{% static 'img/Slackware_web_logo.svg' %}" alt="Slackware Linux logo" class="navbar-logo">
      </a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon text-2xl">&equiv;</span>
      </button>
      <div class="navbar-collapse">
        <ul class="navbar-items">
          <li class="navbar-item">{% url 'core:index' as home %}
            <a class="navbar-link {% if request.path == home %}active{% endif %}" aria-current="page" href="{{ home }}">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link {% if request.path == '/about/' %}active{% endif %}" href="/about/">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link {% if request.path == '/get-slack/' %}active{% endif %}" href="/get-slack/">Get Slack</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link {% if request.path == '/docs/' %}active{% endif %}" href="/docs/">Documentation</a>
          </li>
          <li class="navbar-item">
            <a class="btn btn-donate" href="/donate/"><i class="fas fa-hand-holding-usd"></i> Donate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>