{% extends "core/base_page.html" %}
{% block content %}
<div class="bg-slack">
  <div class="content">
    <div class="post-title">
      <h1 class="">{{ page.title }}</h1>
    </div>    
  </div>
</div>

<div class="post-content">
  {{ page.content_html | safe }}
</div>
{% endblock content %}
