@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --yana: #212529;
  --uqi: #6c757d;
  --yuraq: #ffffff;
}

/*--------------------------
 * TABLE OF CONTENt 
 ---------------------------
 * 0. General
 * 1. Navbar
 * 2. Jumbotron
 * 3. Featured
 * 4. Latest-News
 * 5. Content
 * 6. Get-Slack
 * 7. Footer
 * 8. Utilities
 --------------------------*/

/*--------------------------
 * 0. General
 --------------------------*/
body {
  font-family: 'Roboto Mono', 'JetBrains Mono', monospace;
}

.active {
  @apply font-semibold;
}

.bg-slack {
  background-image: url("/static/img/background.jpg");
  @apply py-2 sm:py-6;
}

.content {
  @apply mx-10 md:mx-20 lg:mx-32 xl:mx-44 2xl:mx-64;
}

/*--------------------------
 * 1. Navbar
 --------------------------*/
.navbar {
  @apply bg-gray-50 py-3;
}

.navbar-collapse {
  @apply flex flex-wrap items-center;
}

.navbar-content {
  @apply mx-10 md:mx-20 lg:mx-32 xl:mx-44 2xl:mx-64 flex flex-col md:flex-row md:justify-between;
}

.navbar-items {
  @apply flex flex-col space-y-2 sm:space-y-0 sm:flex-row sm:space-x-6;
}

.navbar-link {
  @apply text-gray-700 hover:text-gray-800;
}

.navbar-link:hover {
  @apply font-semibold;
}

.navbar-logo {
  @apply h-8;
}

.navbar-toggler {
  @apply hidden;
}
/*--------------------------
 * 2. Jumbotron
 --------------------------*/
.jumbotron {
  background-image: url("/static/img/background.jpg");
  @apply py-16;
}

.jumbotron-block {
  @apply flex flex-col sm:flex-row items-center;
}

.jumbotron-item {
  @apply w-auto sm:w-2/3 order-2 sm:order-1;
}

.jumbotron-image {
  @apply w-auto sm:w-1/3 sm:flex sm:justify-center order-1 sm:order-2;
}

.jumbotron h1 {
  @apply mb-2 text-3xl;
}

.jumbotron p {
  @apply text-lg;
}

.jumbotron-button {
  @apply my-4 flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4;
}

 /*--------------------------
 * 3. Featured
 --------------------------*/
.featured {
  @apply my-6 flex flex-col md:flex-row md:flex-wrap lg:flex-row;
}

.featured-item {
  @apply my-2 w-full md:w-1/2 lg:w-1/4;
}

.featured-item h2 {
  @apply text-xl;
}

.featured-item p {
  @apply mt-2 text-gray-800 leading-snug tracking-tight;
}

.featured-item a,
.featured-item a:hover {
  @apply py-2 text-gray-800 font-semibold;
}

.featured-item a:hover {
  @apply bg-gray-800 p-1 rounded text-gray-200 tracking-tighter;
}

/*--------------------------
 * 4. Latest-News
 --------------------------*/

.latest-news {
  @apply mt-3 mb-6 flex flex-col;
}

.post-item {
  @apply my-2;
}

.post-item>ul>li {
  @apply space-x-4;
}

.post-item h2 {
  @apply mb-1 text-xl;
}

.list-item-date {
  @apply text-gray-500;
}

.list-item-link:hover {
  @apply font-semibold;
}


/*--------------------------
 * 5. Content
 --------------------------*/
.post-title,
.weblog-header {
  @apply my-10;
}

.post-title h1,
.weblog-header h1 {
  @apply text-4xl;
}

.post-content,
.weblog-content {
  @apply m-10 md:mx-20 lg:mx-32 xl:mx-44 2xl:mx-64;
}

.weblog-content article {
  @apply my-10;
}

.weblog-content article h2 {
  @apply mt-2 mb-1 text-2xl;
}

.weblog-post-meta {
  @apply text-gray-500;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.weblog-post-content h1,
.weblog-post-content h2,
.weblog-post-content h3,
.weblog-post-content h4,
.weblog-post-content h5,
.weblog-post-content h6 {
  @apply mt-2 mb-1;
}

.post-content h1,
.post-content h2,
.weblog-post-content h1,
.weblog-post-content h2 {
  @apply text-xl;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.weblog-post-content h3,
.weblog-post-content h4,
.weblog-post-content h5,
.weblog-post-content h6 {
  @apply text-lg;
}

.post-content p,
.weblog-post-content p {
  @apply my-1;
}

.post-content a,
.weblog-post-content a {
  @apply font-semibold underline;
}

/*--------------------------
 * 6. Get-Slack
 --------------------------*/
.get-slack {
  background-image: url("/static/img/background.jpg");
  @apply py-6;
}

.get-slack-content {
  @apply mx-10 md:mx-20 lg:mx-32 xl:mx-44 2xl:mx-64 flex flex-col lg:flex-row lg:justify-around items-center;
}

.get-slack h2 {
  @apply text-2xl;
}

.get-slack-item {
  @apply text-center lg:text-left;
}

.get-slack-btn {
  @apply my-2 pb-2 lg:my-0 lg:pb-0;
}

/*--------------------------
 * 7. Footer
 --------------------------*/
.footer {
  @apply my-6;
}

.footer-items {
  @apply flex flex-wrap flex-col md:flex-row md:justify-between;
}

.footer-item {
  @apply mr-4 my-2 tracking-tighter;
}

.footer-item h5 {
  @apply text-lg;
}

.footer-item a {
  @apply text-gray-400 hover:text-gray-600;
}

.footer-item a:hover {
  @apply font-semibold;
}

.footer-copy {
  @apply pt-5 pb-10 text-sm text-gray-400 tracking-tight;
}

.footer-copy a {
  @apply underline;
}

.footer-copy a:hover {
  @apply text-gray-500;
}


/*--------------------------
 * 8. Utilities
 --------------------------*/

/*--------------------------
 * 8.1 Button
 --------------------------*/
.btn {
  @apply rounded p-2;
}

.btn-slack,
.btn-donate {
  @apply bg-gray-800 border border-gray-800 text-gray-200 hover:bg-transparent hover:text-gray-800;
}

.btn.btn-slack-outline {
  @apply border border-gray-800 hover:bg-gray-800 hover:text-gray-200;
}

/*--------------------------
 * FORMERLY
 --------------------------*/

/*ul>li>a {
  color: var(--yana);
  text-decoration: none;
}

ul>li>a:hover {
  color: var(--yana);
  font-weight: bold;
}*/

/*.weblog-post-title a {
  color: var(--yana);
  text-decoration: none;
}

.weblog-post-content a {
  color: var(--yana);
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.text-link, .text-link:hover {
  color: var(--yana);
  font-weight: bold;
}

.text-link:hover {
  background-color: var(--yana);
  border-color: var(--yana);
  border-radius: 4px;
  color: var(--yuraq);
  padding: 5px;
  text-decoration: none;
}*/